.custom-scrollbars {
    &::-webkit-scrollbar {
        width: 0.3rem;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }
}

/* #region Dark */
    .theme--dark {
        @import './bootstrap/variables-dark';

        .custom-scrollbars {
            &::-webkit-scrollbar-track {
                background-color: map-get($grays, 800);
            }
        
            &::-webkit-scrollbar-thumb {
                background-color: map-get($grays, 400);
            }
        }
    }
/* #endregion */

/* #region Light */    
    .theme--light {
        @import './bootstrap/variables-light';

        .custom-scrollbars {
            &::-webkit-scrollbar-track {
                background-color: map-get($grays, 200);
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: map-get($grays, 400);
            }
        }
    }
/* #endregion */