@import 'variables';

.theme {
    .sidebar {
        display: flex;
        flex-direction: column;
        
        &__section {
            flex: 0 0 auto;
    
            h6 {
                font-size: 10px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 1rem;
                padding-left: 1.2rem;
            }
        }
    
        &__section--flexible {
            flex-grow: 1;
            flex-shrink: 1;
            position: relative;
            overflow-y: auto;
        }
        
        &__section--flexible .sidebar__section__inner {
            position: absolute;
        }
    
        &__section--nav {
            .nav {
                max-width: 100%;
            }
    
            .nav-item {
                max-width: 100%;
                white-space: nowrap;
            
                .nav-link {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    
    // Overlay only section
    .sidebar__section--overlay-only {
        display: none;
    }
    
    @media (max-width: 1199.98px) {
        .sidebar__section--overlay-only {
            display: block;
        }
    }
    .layout--sidebar-overlay .sidebar__section--overlay-only {
        display: block;
    }
}

/* #region Dark */
.theme--dark {
    @import './variables-dark';

    .sidebar {
        background-color: $sidebar-background-color;
        border-right: $sidebar-border-width $sidebar-border-style;

        &__section h6 {
            color: $text-muted;
        }
    }
}
/* #endregion */

/* #region Light */    
.theme--light {
    @import './variables-light';

    .sidebar {
        background-color: $sidebar-background-color;
        border-right: $sidebar-border-width $sidebar-border-style;

        &__section h6 {
            color: $body-color;
        }
    }
}
/* #endregion */