<div class="table-responsive">
    <table class="table table-striped table-sm table-hover mb-0">
        <thead>
            <tr>
                <th scope="col">Assets</th>
                <th scope="col" class="text-right">Price</th>
                <th scope="col" class="text-right">IV</th>
                <th scope="col" class="text-right">Qty</th>
                <th scope="col" class="text-right">Date Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trade of data">
                <td class="text-inverse fw-500">
                    {{ trade.assets }}
                </td>
                <td class="price-col text-right">
                    <span>
                        ${{ trade.price.usd | number : '1.2-2' }}
                    </span>
                    <span>
                        ฿{{ trade.price.btc | number : '1.5-5' }}
                    </span>
                </td>
                <td class="text-right">
                    {{ trade.iv | number : '1.1-1' }}%
                </td>
                <td class="text-right">
                    {{ trade.qty | number : '1.2-2' }}
                </td>
                <td class="text-right">
                    {{ trade.date | date : 'dd-MM HH:mm:ss' }}
                </td>
            </tr>
        </tbody>
    </table>
</div>