<div>
    <div class="options-wrap">
        <form class="options form-inline">
            <div class="form-group options__item options__item--from">
                <label for="historical-volatility-from">From: </label>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-calendar-o fa-fw"></i>
                        </span>
                    </div>
                    <input
                        type="text"
                        class="form-control"
                        id="historical-volatility-from"
                        placeholder="Select from..."
                    />
                </div>
            </div>

            <div class="form-group options__item options__item--to">
                <label for="historical-volatility-to">To: </label>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-calendar-o fa-fw"></i>
                        </span>
                    </div>
                    <input
                        type="text"
                        class="form-control"
                        id="historical-volatility-to"
                        placeholder="Select to..."
                    />
                </div>
            </div>

            <button type="submit" class="btn btn-outline-primary options__item options__item--submit">Show</button>
            <button type="button" class="btn px-3 btn-primary dl-button-collapsed show-collapsed">
                Download CSV <i class="fa fa-fw fa-download ml-1 text-white-05"></i>
            </button>
        </form>
        <div class="dl-button show-default">
            <button type="button" class="btn px-3 btn-primary">
                Download CSV <i class="fa fa-fw fa-download ml-1 text-white-05"></i>
            </button>
        </div>
    </div>
    <div class="chart text-center">
        <i>TODO: Add Chart</i>
    </div>
</div>