<div>
    <div class="chart text-center">
        <i>TO-DO: Add Chart</i>
    </div>

    <div class="tables">
        <div class="tables__exchanges">
            <div class="box">
                <h6 class="header">Exchanges</h6>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <th>Exchanges</th>
                        <th class="text-right">Average of Bid/Ask</th>
                        <th class="text-right">Last Update (UTC)</th>
                        <th class="text-right">Weight</th>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let exchange of exchanges"
                        >
                            <td class="featured-field">{{ exchange.exchangeName }}</td>
                            <td
                                class="text-right"
                                [ngClass]="{
                                    'text-danger': exchange.weight === 0 && exchange.avgBidAsk,
                                    'text-success': exchange.weight > 0 && exchange.avgBidAsk
                                }"
                            >
                                {{ (exchange.avgBidAsk | number : '1.2-2') || '-' }}
                            </td>
                            <td
                                class="text-right"
                            >
                                {{ (exchange.lastUpdate | date:'H:mm:ss') || '-' }}
                            </td>
                            <td
                                class="text-right"
                                [ngClass]="{
                                    'text-danger': exchange.weight === 0,
                                    'text-success': exchange.weight > 0
                                }"
                            >
                                {{ exchange.weight | number : '1.2-2' }}%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="exchanges-notice box">
                <div class="media">
                    <i class="fa fa-info-circle align-self-center mr-3"></i>

                    <div class="media-body">
                        <strong class="text-white">From the 6 exchanges above the highest and lowest prices are taken out.</strong>
                        <br />
                        The remaining 4 exchanges are then each for 25% accountable for the BTC price index.
                    </div>
                </div>
            </div>
        </div>
        <div class="tables__delivery-price">
            <div class="box">
                <h6 class="header">Delivery Price Log</h6>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <th>Date</th>
                        <th class="text-right">Price</th>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let deliveryPrice of deliveryPricesPage"
                        >
                            <td class="featured-field">
                                {{ deliveryPrice.date | date:'yyyy-MM-dd' }}
                            </td>
                            <td class="text-right">
                                {{ deliveryPrice.price | number : '1.2-2' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="paginator box">
                <span class="text-muted">
                    Showing {{ pageSize * (pageNo - 1) }} to {{ pageSize * (pageNo - 1) + deliveryPricesPage.length }} of {{deliveryPrices.length}} entries.
                </span>
                <nav aria-label="Price Index Paginator">
                    <ngb-pagination 
                        [collectionSize]="deliveryPrices.length" 
                        [(page)]="pageNo"
                        [maxSize]="3"
                        aria-label="Price Index Paginator"
                        size="sm"
                        class="pagination--no-margin"
                    ></ngb-pagination>
                </nav>
            </div>
        </div>
    </div>
</div>