<div class="card card--plain card--multiple">
    <div class="card-header">
        Settings
    </div>
    <div class="card-body">
        <div class="section">
            <h6>
                Email Notifications
            </h6>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="email-not__margin-call" />
                <label for="email-not__margin-call" class="custom-control-label">
                    Margin call (maximum once per 24 hours)
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="email-not__liquidation" />
                <label for="email-not__liquidation" class="custom-control-label">
                    Liquidation (maximum once per 10 minutes)
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="email-not__login" checked />
                <label for="email-not__login" class="custom-control-label">
                    Login (always on)
                </label>
            </div>
        </div>

        <div class="section">
            <h6>
                Confirmation Dialogs
            </h6>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="confirmation-dialogs" checked />
                <label for="confirmation-dialogs" class="custom-control-label">
                    Futures Order Confirmtion Dialog
                </label>
            </div>
        </div>

        <div class="section">
            <h6>
                Security
            </h6>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="security__ip-pinning" />
                <label for="security__ip-pinning" class="custom-control-label">
                    IP Pinning
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="security__safe-session-duration" checked />
                <label for="security__safe-session-duration" class="custom-control-label">
                    Safe Session Duration
                </label>
            </div>
        </div>

        <div class="section">
            <h6>
                Security
            </h6>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="sounds__order-filled" checked />
                <label for="sounds__order-filled" class="custom-control-label">
                    Order Filled
                </label>
            </div>
        </div>
    </div>
</div>